.administration-container {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;

    .administration-panel {
        display: flex;
        flex-direction: column;

        .input-container {
            display: flex;

            .label-group {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                margin: .2em;

                label {
                    margin-bottom: .5em;
                }
            }

            .input-group {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                margin: .2em;

                input {
                    margin-bottom: .5em;
                }
            }
        }

        .administration-buttons-panel {
            display: flex;
            justify-content: space-around;
            margin-top: 1em;

            button {
                width: 100%;
            }
        }
    }

    .users-panel {
        width: 70%;

        .for-save-buttons {
            margin-top:  1em;
        }

        .for-edit-buttons {
            margin-top:  1em;
        }
    }
}
