<p-tabView>
    <p-tabPanel header="Datos" leftIcon="fa-book">
        <app-table-component></app-table-component>
    </p-tabPanel>

    <p-tabPanel header="Planificación" leftIcon="fa-calendar">
        <app-tree-component></app-tree-component>
    </p-tabPanel>

    <p-tabPanel header="Importar" leftIcon="fa-upload">
        <app-upload-component></app-upload-component>
    </p-tabPanel>

    <p-tabPanel header="Estadísticas" leftIcon="fa-bar-chart">
        <app-chart-component
            [percent]='false'
            [colors] = "[ '#578CA9','#D65076','#004B8D','#F6D155','#F2552C',
                        '#95DEE3','#EDCDC2','#CE3175','#5A7247',
                        '#B93A32','#006E51', '#D8AE47','#B76BA3',
                        '#009B77','#DD4124','#9B2335' ]"
            [columns] = "['Resultado','Sexo']"
        ></app-chart-component>
    </p-tabPanel>

    <p-tabPanel header="Administración de usuarios" leftIcon="fa-user">
        <app-administration></app-administration>
    </p-tabPanel>

</p-tabView>
